*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: "Pacifico", cursive;
  font-family: "Poppins", sans-serif;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none !important;
}

/********** Root CSS **********/
:root {
  --primary: #07aec7;
  --secondary: #f47b20;
  --light: #f1f3fa;
  --dark: #1c2035;
}

/* navbar Code Start */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
  #topDrowDownDisplay {
    display: block !important;
  }
}

@media only screen and (max-width: 998px) {
  #numberContent {
    justify-content: center !important;
    text-align: center;
  }
}

#topDrowDownDisplay {
  display: none;
}

#topBarSearchIcon {
  cursor: pointer;
}

.phone-icon {
  animation: vibration 1.2s infinite ease-in-out;
}

@keyframes vibration {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(-9deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.topBar {
  /* min-height: 34px; */
  height: 100%;
  padding: 0;
}

.dropdown-toggle::after {
  border: none;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-size: 0.6rem;
  margin-left: 0.5rem;
  font-weight: 900;
}
.topDropDown {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #e0fbff;
  width: 210px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0%;
  border: none;
}
.dropdown-menu {
  background-color: #e0fbff;
  width: 210px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0%;
  border: none;
}
.dropdown-item {
  padding: 0.5rem;
}

.supportDown a {
  color: #000;
  border-bottom: none;
  font-size: 0.8rem;
  position: relative;
  display: block;
}
.line,
.secondLine {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;

  transition: width 0.2s ease-in-out;
}
.supportDown:hover {
  background-color: var(--primary) !important;
}

.supportDown:hover a {
  color: #fff;
}
.supportDown:hover .line {
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.supportDown a i {
  font-size: 0.7rem;
  font-weight: bold;
  position: absolute;
  top: 20%;
  right: 0;
}

.second-dropDown {
  background-color: #07aec7;
  padding: 0;
  margin: 0;
}
.second-dropDown li:hover .secondLine {
  background-color: rgb(0, 0, 0);
  width: 100%;
}

.second-dropDown li:hover {
  background-color: var(--light) !important;
}

.second-dropDown li:hover a {
  color: #000;
}

#megaMenu {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

/* navbar Code End */
